<template>
  <div class="w-full h-full flex justify-center items-center">
    <div>
      <div class="w-full max-w-2xl mt-32 p-4 rounded bg-red-400 text-white">
        <div class="border-2 rounded flex flex-col md:flex-row md:items-center md:gap-8 p-4">
          <img src="/assets/santa.svg" alt="" class="max-w-[12em]" />
          <div>
            <h1 class="font-serif text-4xl">Happy Holidays!</h1>
            <div class="mt-4 bg-white text-black p-2 rounded">TO: {{toGift}}</div>
            <div class="mt-2 bg-white text-black p-2 rounded">FROM: {{fromGift}}</div>
          </div>
        </div>
      </div>
      <div class="w-50 my-10 flex flex-col">
        <p class="text-center">Write differentes name down here: </p>
        <label class="text-black ml-8 ">
          To:
          <input type="text" v-model="toGift" class="border-2 my-2" >
        </label>
        <label class="text-black ml-8 ">
          From:
          <input type="text" v-model="fromGift" class="border-2 my-2" >
        </label>
        <div class="text-center mt-3">
          <button class="btn px-6 py-2 bg-green text-white rounded-md " @click="shareCard()">Share this card</button>
        </div>
      </div>
      <div class="mt-8 mb-16 flex flex-col justify-center items-center">
        <h4 class="mt-10 text-gray-400 text-center text-sm">
          Challlenge built by: <a href="https://www.gitlab.com/ingmanuelcaicedo" target="_blank" class="text-orange-400 underline">Ing. Manuel Caicedo</a>
        </h4>
        <h4 class="mt-3 text-gray-400 text-center text-sm">
          See my other challenges on <b>the Advent of Vue Event</b> by clicking <a href="https://advent-of-vue-2022-ingmanuelcaicedo.netlify.app" target="_blank" class="text-green underline">HERE</a>
        </h4>
      </div>
    </div>
  </div>
</template>

<script setup>
  import { onMounted, ref } from 'vue';

  const toGift = ref('');
  const fromGift = ref('');
  const urlParams = new URL(window.location);

  const getParams = () => {
    const to = urlParams.searchParams.get('toGift');
    const from = urlParams.searchParams.get('fromGift');
    if (to !== null && from !== null) {
      toGift.value = to;
      fromGift.value = from;
    }
    else {
      toGift.value = 'John';
      fromGift.value = 'Joana';
    }
  }

  const shareCard = async () => {
    urlParams.searchParams.set('toGift', toGift.value);
    urlParams.searchParams.set('fromGift', fromGift.value);
    const myTitle = fromGift.value+' wants to share a Gift to you.';
    // console.log(urlParams);fiestas-partias
    // window.history.pushState({}, '', urlParams);
   await navigator.share({
      title: myTitle,
      text: myTitle,
      url: urlParams.href,
    });
  }

  onMounted( () => {
    getParams();
  });

</script>
